{
    "DESKTOP_APP": "http://localhost:6549",
    "HTTP_PROVIDER": "http://privatenet.zerotheft.net",
    "ZERO_THEFT_CONTRACT": "https://zerotheft-contract-artifacts.s3.amazonaws.com",
    "CHAIN_ID":1440,
    "NETWORK_ID":1440,
    "NETWORK_NAME":"privatenet",
    "CENTRALIZED_SERVER" : "https://testingapi.zerotheft.net",
    "CENTRALIZED_SERVER_FRONTEND" : "https://testingapp.zerotheft.net",
      "GAS_PRICE": 72
}