{
    "DESKTOP_APP": "http://localhost:6549",
    "HTTP_PROVIDER": "http://privatenet.zerotheft.net",
    "ETHERSCAN_API_KEY": "ZVGEXJB6GAY5GZVXCX2QS3ITQ23XDYKC88",
    "ZERO_THEFT_CONTRACT": "https://zerotheft-private-blockchain.s3.amazonaws.com/contracts"
}