@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin: 0; padding: 0; list-style: none;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1100px;
  overflow-x: auto;
}
body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Toastify .Toastify__toast-container {
  top: 70px;
  right: 10px;
  width: 350px;
}
.Toastify .Toastify__toast {
  background: #fff;
  color: #000;
}

.Toastify .Toastify__toast--success {
  border-left: 5px solid #4788B2;
  color: #000;
}
.Toastify .Toastify__toast-body {
  padding: 10px; font-size: 18px;
}

/* Popup Modal */
.cp-modal { outline: none; }
.cp-modal-overlay {
  position: fixed; top: 0; left: 0; z-index: 2;
  width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75);
  display: flex; justify-content: center; align-items: center;
}

@keyframes dots {
  0%,
  20% {
    color: #fff;
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
  40% {
    color: black;
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
  60% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 black;
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 black, 0.5em 0 0 white;
  }
}
